@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Reduce motion preference */
.reduce-motion *,
.reduce-motion *::before,
.reduce-motion *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
}